*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bulb-off{
    width: 300px;
    height: 500px;
    cursor: pointer;
}

.bulb-on{
    width: 300px;
    height: 400px;
    cursor: pointer;

}


#btn{
    width: 100px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: none;
    position: absolute;
    bottom: 80px;
}

#btn:hover{
    background-color: rgb(9, 154, 9);
}